@import 'vendor/reset';

* {
  box-sizing: border-box;
}

/******** Colors ********/
$background: #ffcccc;
$primary: #ff0000;
$primary-hover: #ff7f7f;
$text: white;
$text-emphasis: #e60000;
$sidebar-primary: white;
$backdrop: lightgray;
$button-primary: #ff4d4d;
$button-bottom: #b30000;
$palette-background: white;

/******* Constants *******/
$header-height: 60px;
$sidebar-width: 300px;

header {
  background-color: $primary;
  .options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
}

#logo {
  font-size: 30px;
  color: $text;
  text-align: center;
  line-height: $header-height;
}

#options {
  display: flex;
  flex-direction: row;
  
  li {
    flex: 1;
    line-height: $header-height;
    font-size: 16px;
    text-align: center;
    color: $text;
    cursor: pointer;
    &:hover {
      background-color: $primary-hover;
    }
  }
}

#main-display {
  display: flex;
}

#palette-container {
  background-color: $backdrop;
  position: fixed;
  top: 0;
  left: 0;
  right: $sidebar-width;
  bottom: 0;
}

#palette {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: $palette-background;  
  display: flex;
  flex-direction: row;
  height: 100%;
}

.color-panel {
  flex: 1;
  height: 100%;
  background-color: white;
  border: none;
  position: relative;
  cursor: pointer;

  &.selected .marker{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

$sidebar-bottom-margin: 20px;

#sidebar {
  background-color: $sidebar-primary;
  position: fixed;
  top: 0;
  width: $sidebar-width;
  right: 0;
  bottom: 0;
  box-shadow: -8px 0px 11px -2px rgba(0,0,0,0.75);

  .sidebar-menu {
      padding: $sidebar-bottom-margin 10px 0;
  }
  
  transition: width .3s;
  
  &.expand {
	width: 100%;
	overflow-y: auto;
  }
}


.palette-name {
    font-size: 12px;
    margin-bottom: 3px;
    color: $text-emphasis;
    font-weight: 600;
}

.sidebar-menu .title {
  border: none;
  width: 100%;
  margin-bottom: $sidebar-bottom-margin;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  background-color: $background;
  color: $text-emphasis;
  font-weight: 500;
  font-size: 16px;
  overflow: hidden;

}
input.title:focus {
  outline: none;
}

#color-picker {
  margin-bottom: $sidebar-bottom-margin;
}

.controls {
	display: flex;
	justify-content: space-between;
}

.button {
  margin-bottom: $sidebar-bottom-margin;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  flex: 1;
  color: $text;
  background-color: $button-primary;
  cursor: pointer;
  box-shadow: 0 3px 0 0 $button-bottom;
  &:first-child { margin-right: 10px; }
  &:last-child { margin-left: 10px; }
  &:hover {
    background-color: $primary-hover;
  }
}


.palette-list {
	display: flex;
	flex-wrap: wrap;
}

.mini-palette {
	margin: 2%;
	flex: 1 20%;
	max-width: 300px;
	height: 200px;
	box-shadow: 0px 10px 10px 3px rgba(0,0,0,0.15);
	cursor: pointer;
	
	.title {
		height: 40px;
		text-align: center;
		color: black;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.colors {
		display: flex;
		height: 160px;
		
		div {
			height: 100%;
			flex: 1;
		}
	}
}

.loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.3;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}


// Spinner borrowed from https://www.pexels.com/blog/css-only-loaders/
.spinner {
  margin: 50px;
  height: 28px;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  z-index: 20;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}